{% extends 'base.html' %}
{% load static %}


{% block title %}
Change password
{% endblock title %}


{% block content %}
	<div class="form-container">
	<p class="title">Change Password</p>
    
	<form class="form" method="post">
        {% csrf_token %}
		<div class="input-group">
			{% for  fm in form %}
            {{fm.label}}
            {{fm}}
            <p class="my_message" style="color: red;">{{fm.errors}}</p>
            {% endfor %}
		</div>
		<button class="sign">Change My Password</button>
	</form>

</div>
{% endblock content %}