{% extends 'base.html' %}
{% load static %}


{% block title %}
Login
{% endblock title %}


{% block content %}
<div class="form-container">
	<p class="title">Reset Password</p>
	<form class="form" method="post" action="">
         {% csrf_token %}
   {% for fm in form %}
		<div class="input-group">

      {{fm.label}}
        {{fm}}
       {{fm.errors|striptags}}
    </div>
       {% endfor %}
	<button class="sign" type="submit">Reset my password</button>

	</form>
	
</div>

{% endblock content %}
