 {% extends 'base.html' %}
{% load static %}


{% block title %}
Login
{% endblock title %}


{% block content %}
<div class="form-container">
	<p class="title">Enter new password</p>
	<form class="form" method="post" action="">
      {% csrf_token %}
     {% for fm in form %}
    <div class="input-group">
     {{fm.label}}
     {{fm}}
     {{fm.errors|striptags}}
    </div>
     {% endfor %}
     
	<button class="sign" type="submit">Change my password</button>

	</form>
	
</div>

{% endblock content %}
 
 