*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    list-style: none;
    text-decoration: none;
}

header{

    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 15px 30px;
    background-color: teal;
}

ul{
    display: flex;
    gap: 20px;
    align-items: stretch;
    height: 100%; 
    padding: 0;
    margin-bottom: 0;
    margin-left: auto;
    list-style: none;
}
li{
    display: flex;
    align-items: center;
    height: 100%;
               
}

.logo{
    font-size: 30px;
    font-weight: 600;
    color: white    ;
    text-decoration: none;
}
li a{
    display:flex;
    align-items: center; 
    justify-content: center;         
    height: 80px; 
    line-height: 80px;                
    padding: 0 15px;              
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease;    
    margin-bottom: -3px;
}

 li a:hover {
    color: #ffd700;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transform: translateY(-1px);
    text-decoration: underline;
}
 
.select-nevbar{
    background-color: teal;
}

.profile {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-top: 20px;
}

/* Username */
.username {
    color: white;
    padding: 8px 12px;
    /* background: #2d2d44; */
    border-radius: 20px;
}

/* Dropdown box (hidden by default) */
.dropdown {
    position: absolute;
    top: 120%;
    right: 0;
    background: white;
    min-width: 150px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

    /* IMPORTANT: hidden */
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: 0.3s ease;
}

/* Dropdown links */
.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown a:hover {
    background: #f0f0f0;
}

/* SHOW dropdown on hover */
.profile:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
